div.row
	div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
		div.row.form-group.card.text-center.switch-btn-group(style="padding-top:0;padding-bottom:0")
			div.col-xs-4.col-lg-4.switch-btn.pink-border-top(ng-click="setDay(-1)",ng-class="{active:day===-1}") {{ 'YESTERDAY' | translate}}
			div.col-xs-4.col-lg-4.switch-btn.orange-border-top(ng-click="setDay(0)",ng-class="{active:day===0}") {{ 'TODAY' | translate}}
			div.col-xs-4.col-lg-4.switch-btn.cyan-border-top(ng-click="setDay(1)",ng-class="{active:day===1}")  {{ 'TOMORROW' | translate}}


		div.loading-bar(ng-class="{hidden:loading<1}")

		div.row.card.form-group(ng-repeat="result in results | filter:dayFilter",ng-class="{hidden:loading>0}")
			div.col-md-10.col-xs-10.col-lg-10.no-href-link.padding-right-0(style="position:relative")
				a.search-title(href="/subject/{{result.id}}")
					h4 {{result.name}}
					h6 {{result.name_cn}}
			div.col-md-2.col-xs-2.col-lg-2
				button.btn.btn-danger(ng-click="toggleCollection($index)")
					span.glyphicon(ng-class="{'glyphicon-minus':results[$index].added === true,'glyphicon-plus': results[$index].added !== true}")


		div.row.form-group(ng-class="{hidden:loading>0}")
			a.btn.btn-danger.btn-block(href="/") {{ 'RETURN_TO_HOME' | translate}}

div(side-menu)