div.row
	div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.main-content
		div.settings
			div.card.row.form-group
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:lang!="en-us"}',ng-click='setLang("en-us")') English
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:lang!="zh-cn"}',ng-click='setLang("zh-cn")') 简体中文


			div.card.row.form-group(ng-class="{hidden:lang!='zh-cn'}")
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:bot!="x"}',ng-click='setBot("x")') {{ 'BOT1' | translate}}
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:bot!="bgm"}',ng-click='setBot("bgm")') {{ 'BOT2' | translate}}


			div.card.row.form-group(ng-class="{hidden:lang!='zh-cn'}")
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:title!="o"}',ng-click='setTitle("o")') {{ 'ORIGINAL_TITLE' | translate}}
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:title!="cn"}',ng-click='setTitle("cn")') {{ 'TRANSLATED_TITLE' | translate}}

			div.card.row.form-group
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:iq!="high"}',ng-click='setImageQuality("high")') {{ 'HIGH_QUALITY_IMAGE' | translate}}
				div.col-sm-6.col-lg-6.col-md-6.col-xs-6
					button.btn.btn-danger.btn-block(ng-class='{faded:iq!="low"}',ng-click='setImageQuality("low")') {{ 'LOW_QUALITY_IMAGE' | translate}}


			div.card.row.form-group
				div.col-md-12
					a.btn.btn-danger.btn-block(href="/") {{ 'RETURN_TO_HOME' | translate}}