div.row
    div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.main-content(ng-class="{'push-aside':showSideMenu}")





        div.row.card.form-group
            form(role="search")
                div.form-group.col-md-10.col-xs-8.col-lg-8.padding-right-0
                    input.form-control(type='text',placeholder="{{ 'ENTER_TO_SEARCH' | translate }}")
                div.form-group.col-md-2.col-xs-4.col-lg-4
                    button.btn.btn-block.btn-danger(type='submit') {{ 'SEARCH' | translate }}



        div.row.card.form-group(ng-repeat="item in items")

            div.col-md-10.col-xs-10.col-lg-10.no-href-link.padding-right-0(style="position:relative")

                div.div-circle.square-100.pull-left(style='background-position:50% 50%;background-image:url("{{item.subject.images.large}}");background-size: cover; background-repeat:no-repeat')
                //div.height-100.pull-left(style='width:100%;background-position:50% 50%;background-image:url("{{item.subject.images.large}}");background-size: cover; background-repeat:no-repeat')

                div.padding-left-120
                    h4 {{item.subject.name || item.subject.name_cn}}
                    div.blue-bg.progress-total
                        div.red-bg.progress-current(style='width:{{(item.ep_status / item.subject.eps)*100}}%;')

                    div.padding-top-10
                        span.tag
                            span.glyphicon.glyphicon-ok-circle
                            | EP.{{item.ep_status}}
                        span.tag
                            span.glyphicon.glyphicon-heart
                            | {{item.subject.collection.doing * 172}}
                        botton.btn.btn-danger.btn-sm.pull-right(ng-click="updateTo($index)") {{ 'WATCHED' | translate }} EP. {{paddy(item.ep_status+1,2)}}

            div.col-md-2.col-xs-2.col-lg-2
            //TODO:do we need the space? if not should use offset instead




nav.side-menu(role="navigation",style="",ng-class="{show:showSideMenu}")
    div.left-triangle.pull-right.red-bg
        a(href='/')
            span.side_menu_btn {{ 'HOME' | translate }}
    div.left-triangle.pull-right.margin-top-10.pink-bg
        span.side_menu_btn {{ 'SCHEDULE' | translate }}
    div.left-triangle.pull-right.margin-top-10.orange-bg
        span.side_menu_btn {{ 'PROFILE' | translate }}
    div.left-triangle.pull-right.margin-top-10.blue-bg
        a(href='/settings')
            span.side_menu_btn {{ 'SETTINGS' | translate }}
    div.left-triangle.pull-right.margin-top-10.cyan-bg
        a(href='/logout')
            span.side_menu_btn {{ 'LOGOUT' | translate }}




nav.navbar.red-bg.navbar-default.navbar-fixed-bottom(role="navigation")
    div.navbar-bottom-avatar.center-block
        div.wrapper(style="position:relative")
            div.tooltips(title="{{msg}}",ng-class="{'hidden':msg==''}")
                span.inner.text-left{{msg}}
                //span(title="more")
            img.img-circle.btn(src='{{bot}}',ng-click="showRandomMsg()")
            span.navbar-menu-btn.glyphicon.glyphicon-list.icon-flipped(ng-click="toggleSideMenu()",ng-class="{'icon-rotated-90-right':showSideMenu}")







