div.row
    div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3





        div.row.card.form-group
            form(role="search")
                div.form-group.col-md-10.col-xs-8.col-lg-8.padding-right-0
                    input.form-control(type='text',placeholder="{{ 'ENTER_TO_SEARCH' | translate }}")
                div.form-group.col-md-2.col-xs-4.col-lg-4
                    button.btn.btn-block.btn-danger(type='submit') {{ 'SEARCH' | translate }}



        div.row.card.form-group(ng-repeat="item in items")

            div.col-md-10.col-xs-10.col-lg-10.no-href-link.padding-right-0(style="position:relative")

                div.div-circle.square-100.pull-left(style='background-position:50% 50%;background-image:url("{{item.subject.images.large}}");background-size: cover; background-repeat:no-repeat')
                //div.height-100.pull-left(style='width:100%;background-position:50% 50%;background-image:url("{{item.subject.images.large}}");background-size: cover; background-repeat:no-repeat')

                div.padding-left-120
                    h4 {{item.subject.name || item.subject.name_cn}}
                    div.blue-bg(style='width:100%;')
                        div.red-bg(style='width:{{(item.ep_status / item.subject.eps)*100}}%;height:5px')

                    div.padding-top-10
                        span.tag
                            span.glyphicon.glyphicon-ok-circle
                            | EP.{{item.ep_status}}
                        span.tag
                            span.glyphicon.glyphicon-heart
                            | {{item.subject.collection.doing}}

            div.col-md-2.col-xs-2.col-lg-2
                //button.btn.btn-sm.btn-primary(type='submit')
                    span.glyphicon.glyphicon-ok 看到
        //div.row(ng-repeat-end)
            div.form-group.col-md-12
                div.light-gray-bg(style='width:100%;')
                    div.dark-gray-bg(style='width:70%;height:5px')







nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
    button.btn.btn-block.btn-danger
        div.avatar.text-center
            img.img-circle.btn(src="{{avatar.large}}")






