div.row
    div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.main-content(ng-class="{'push-aside':showSideMenu}")





        div.row.card.form-group
            form(role="search")
                div.form-group.col-md-10.col-xs-10.col-lg-10.padding-right-0
                    input.form-control(type='text',placeholder="{{ 'ENTER_TO_SEARCH' | translate }}")
                div.form-group.col-md-2.col-xs-2.col-lg-2
                    button.btn.btn-block.btn-danger.text-center(type='submit')
                        span.glyphicon.glyphicon-search.visible-xs.search-icon
                        span.hidden-xs {{ 'SEARCH' | translate }}



        div.row.card.form-group(ng-repeat="item in items",ng-class="{selected:items[$index].selected}")

            div.col-md-10.col-xs-10.col-lg-10.no-href-link.padding-right-0(style="position:relative")

                div.div-circle.square-150.pull-left.list-item-thumb(ng-click="select($index)",style='background-image:url("{{item.subject.images.large}}")')
                    div.square-150(ng-class="{'white-mask':items[$index].selected}")
                        span.glyphicon.glyphicon-ok.checked


                div.list-item-info
                    h3 {{getTitle(item)}}

                    div.blue-bg.progress-total
                        div.red-bg.progress-current(ng-style="{width:(item.ep_status / item.subject.eps)*100 +'%'}")
                    div.padding-top-10
                        span.tag.hidden-xs
                            span.glyphicon.glyphicon-ok-circle
                            | EP.{{item.ep_status}}
                        span.tag
                            span.glyphicon.glyphicon-heart
                            | {{item.subject.collection.doing * 172}}
                        botton.btn.btn-danger.pull-right(ng-click="updateTo($index)") {{ 'WATCHED' | translate }} EP. {{paddy(item.ep_status+1,2)}}

            div.col-md-2.col-xs-2.col-lg-2
            //TODO:do we need the space? if not should use offset instead




nav.side-menu(role="navigation",style="",ng-class="{show:showSideMenu}")
    a.left-triangle.pull-right.red-bg(href='http://netaba.re')
        p.side_menu_btn {{ 'HOME' | translate }}
    a.left-triangle.pull-right.margin-top-10.pink-bg
        p.side_menu_btn {{ 'SCHEDULE' | translate }}
    a.left-triangle.pull-right.margin-top-10.orange-bg
        p.side_menu_btn {{ 'PROFILE' | translate }}
    a.left-triangle.pull-right.margin-top-10.blue-bg(href='/settings')
        p.side_menu_btn {{ 'SETTINGS' | translate }}
    a.left-triangle.pull-right.margin-top-10.cyan-bg(href='/logout')
        p.side_menu_btn {{ 'LOGOUT' | translate }}




nav.navbar.red-bg.navbar-default.navbar-fixed-bottom.super-nav-bar-bottom(role="navigation")
    div.action_btns.input-append(ng-class='{hidden:!isAnythingSelected()}')
        button.btn.col-lg-3.col-xs-3.white-text.red-bg
            h4 {{ 'FINISH' | translate }}
        button.btn.col-lg-3.col-xs-3.white-text.red-bg
            h4 {{ 'HOLD' | translate }}
        button.btn.col-lg-3.col-xs-3.white-text.red-bg
            h4 {{ 'TRASH' | translate }}

        button.btn.col-lg-3.col-xs-3.white-text.red-bg
            h4 {{ 'UNFOLLOW' | translate }}
    div.navbar-bottom-avatar.center-block(ng-class='{hidden:isAnythingSelected()}')
        div.wrapper(style="position:relative")
            div.tooltips(title="{{msg}}",ng-class="{'hidden':msg==''}")
                span.inner.text-left{{msg}}
                //span(title="more")
            img.img-circle.btn(src='{{bot}}',ng-click="showRandomMsg()")
            span.navbar-menu-btn.btn.glyphicon.icon-flipped(ng-click="toggleSideMenu()",ng-class="{'icon-rotated-180-right':showSideMenu,'glyphicon-align-justify':showSideMenu,'glyphicon-list':!showSideMenu}")







