doctype 5
html(ng-app="inTouch2")
    head
        title= title

        link(rel="stylesheet",href="/css/bootstrap.css")
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/animations.css')
        link(href='//fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')
        script(src="/js/intouch2.min.js")
    body
        block content