doctype 5
html(ng-app="inTouch2")
    head
        title= title

        link(rel="stylesheet",href="/css/bootstrap.css")
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/animations.css')
        link(href='https://fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')
        script(src="/js/jquery-1.10.2.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/angular.js")
        script(src="/js/angular-route.js")
        script(src="/js/angular-cookies.js")
        script(src="/js/angular-animate.js")
        script(src="/js/angular-translate.js")

        script(src="/js/canvasjs.js")

        script(src="/js/intouch.js")
        script(src="/js/directive.js")
        script(src="/js/factory.js")

        script(src="/js/controllers/login.js")
        script(src="/js/controllers/home.js")
        script(src="/js/controllers/search.js")
        script(src="/js/controllers/logout.js")
        script(src="/js/controllers/settings.js")
        script(src="/js/controllers/profile.js")
        script(src="/js/controllers/schedule.js")

    body
        block content