doctype 5
html(ng-app="inTouch2")
	head
		title= title

		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='apple-touch-icon', href='touch-icon-iphone.png')
		link(rel='apple-touch-icon', sizes='76x76', href='touch-icon-ipad.png')
		link(rel='apple-touch-icon', sizes='120x120', href='touch-icon-iphone-retina.png')
		link(rel='apple-touch-icon', sizes='152x152', href='touch-icon-ipad-retina.png')




		link(rel="shortcut icon",type="image/png",href="/favicon.png")
		link(rel="stylesheet",href="/css/bootstrap.css")
		link(rel='stylesheet', href='/css/animations.css')
		link(rel='stylesheet', href='/css/style.css')

		link(href='https://fonts.googleapis.com/css?family=Lato',rel='stylesheet',type='text/css')

		script(src="/js/jquery-1.10.2.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/angular.js")
		script(src="/js/angular-route.js")
		script(src="/js/angular-animate.js")
		script(src="/js/angular-touch.js")
		script(src="/js/angular-translate.js")

		script(src="/js/canvasjs.js")

		script(src="/js/intouch.js")
		script(src="/js/directive.js")
		script(src="/js/factory.js")

		script(src="/js/controllers/login.js")
		script(src="/js/controllers/home.js")
		script(src="/js/controllers/search.js")
		script(src="/js/controllers/logout.js")
		script(src="/js/controllers/settings.js")
		script(src="/js/controllers/profile.js")
		script(src="/js/controllers/schedule.js")
		script(src="/js/controllers/subject.js")

	body
		block content