div.row
    div.col-md-4.col-md-offset-4
        h4.white-text.text-center.padding-bottom-70 {{ 'LOGOUT_SUCCESS' | translate}}
        a.btn.btn-danger.btn-block(href="/"){{ 'RETURN_TO_HOME' | translate}}


div.navbar-fixed-bottom
    h1.pull-right.large-quote See You Space Cowboy....