nav.navbar.red-bg.navbar-default.navbar-fixed-top
    div
        div.col-lg-4.col-xs-4
        div.col-lg-4.col-xs-4.text-center
            img.img-circle(src='{{avatar}}',style="margin-bottom:-80px;border:white 3px solid")
        div.col-lg-4.col-xs-4
