div.row
    div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.main-content

        div.row.form-group
            a.btn.btn-danger.btn-block(href="/"){{ 'RETURN_TO_HOME' | translate}}

        div.row.form-group.card.text-center.switch-btn-group(style="padding-top:0;padding-bottom:0")
            div.col-xs-4.col-lg-4.switch-btn.pink-border-top(ng-click="setType(-1)",ng-class="{active:type===-1}") {{ 'ALL' | translate}}
            div.col-xs-4.col-lg-4.switch-btn.orange-border-top(ng-click="setType(2)",ng-class="{active:type===2}") {{ 'ANIME' | translate}}
            div.col-xs-4.col-lg-4.switch-btn.cyan-border-top(ng-click="setType(6)",ng-class="{active:type===6}") {{ 'DRAMA' | translate}}



        div.row.card.form-group(ng-repeat="result in results | filter:typeFilter")
                div.col-md-10.col-xs-10.col-lg-10.no-href-link.padding-right-0(style="position:relative",ng-class='{"orange-border-left":result.type === 2,"cyan-border-left":result.type !== 2}')
                    h4 {{result.name}}
                div.col-md-2.col-xs-2.col-lg-2
                    button.btn.btn-danger(ng-click="toggleCollection($index)")
                        span.glyphicon(ng-class="{'glyphicon-minus':results[$index].added === true,'glyphicon-plus': results[$index].added !== true}")


div(side-menu)

