div.row
	div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
		div.row.form-group.subject-cover(style="height:200px;background-image:url({{subject.images.large}})")
			div
				div.col-xs-4.col-lg-4
				div.col-xs-4.col-lg-4.text-center.padding-left-0.padding-right-0

					div.div-circle.square-100.white-border-5(ng-class='getProgressClass()',style="background-color:white;margin:120px auto 0 auto; box-shadow: rgba(80, 80, 80, 0.3) 1px 2px;")
						h2.white-text(style="margin:0;font-size:84px;text-shadow: rgba(80, 80, 80, 0.3) 1px 2px;") {{rating}}
				div.col-xs-4.col-lg-4

		div.form-group.card.text-center.row.subject-title(style="padding-top:0")
			div.no-href-link(ng-click='toggleEdit()')
				h1(style="padding-top:10px") {{subject.name}}
				h4 {{subject.name_cn}}
			div.col-sm-12(ng-class="{hide:editing===0}")
				form
					div.form-group.action_btns.input-append
						button.btn.col-lg-2.col-xs-2.white-text.btn-info(ng-click='updateStatus("collect")',ng-class="{'btn-danger':status==='collect','btn-info':status!=='collect'}")
							h6 {{ 'FINISH' | translate }}
						button.btn.col-lg-2.col-xs-2.white-text.btn-info(ng-click='updateStatus("on_hold")',ng-class="{'btn-danger':status==='on_hold','btn-info':status!=='on_hold'}")
							h6 {{ 'HOLD' | translate }}
						button.btn.col-lg-4.col-xs-4.white-text(ng-click='updateStatus("do")',ng-class="{'btn-danger':status==='do','btn-info':status!=='do'}")
							h6 {{ 'WATCHING' | translate }}
						button.btn.col-lg-2.col-xs-2.white-text.btn-info(ng-click='updateStatus("dropped")',ng-class="{'btn-danger':status==='dropped','btn-info':status!=='dropped'}")
							h6 {{ 'TRASH' | translate }}
						button.btn.col-lg-2.col-xs-2.white-text.btn-info(ng-click='updateStatus("wish")',ng-class="{'btn-danger':status==='wish','btn-info':status!=='wish'}")
							h6 {{ 'WISHLIST' | translate }}

					div.form-group.clearfix
						textarea.form-control(placeholder="{{ 'COMMENT_PLACEHOLDER' | translate}}",ng-model="comment")
					div.form-group
						input.form-control(type="text",placeholder="{{ 'TAGS_PLACEHOLDER' | translate}}",ng-model="tags")
					div.form-group
						select.form-control.input-lg(ng-model="rating",ng-options="rating.value as rating.text for rating in ratings")


					div.form-group
						button.btn.btn-block.btn-danger(ng-click="save()") {{ 'APPLY_CHANGES' | translate }}
						button.btn.btn-block.btn-default(ng-click="reset()") {{ 'CANCEL' | translate }}



		div.card.form-group.row(ng-repeat="ep in subject.eps")
			div.col-xs-2.col-lg-2  EP.{{ep.sort}}
			div.col-xs-10.col-lg-10  {{ep.name}}


		div.row.form-group
			a.btn.btn-danger.btn-block(href="/"){{ 'RETURN_TO_HOME' | translate}}