.animate-items.ng-leave { -webkit-transition:1s linear all; transition:1s linear all; }
.animate-items.ng-leave { opacity: 1; }
.animate-items.ng-leave.ng-leaver-active { opacity: 0; }



@-webkit-keyframes loading-animation {
    0% {
        background-position: 50% 0px;
    }

    4% {
        background-position: 50% -35px;
    }

    8% {
        background-position: 50% -70px;
    }

    12% {
        background-position: 50% -105px;
    }

    16% {
        background-position: 50% -140px;
    }

    20% {
        background-position: 50% -175px;
    }

    24% {
        background-position: 50% -210px;
    }

    28% {
        background-position: 50% -245px;
    }

    32% {
        background-position: 50% -280px;
    }

    36% {
        background-position: 50% -315px;
    }

    40% {
        background-position: 50% -350px;
    }

    44% {
        background-position: 50% -385px;
    }

    48% {
        background-position: 50% -420px;
    }

    52% {
        background-position: 50% -455px;
    }

    56% {
        background-position: 50% -490px;
    }

    60% {
        background-position: 50% -525px;
    }

    64% {
        background-position: 50% -560px;
    }

    68% {
        background-position: 50% -595px;
    }

    72% {
        background-position: 50% -630px;
    }

    76% {
        background-position: 50% -665px;
    }

    80% {
        background-position: 50% -700px;
    }

    84% {
        background-position: 50% -735px;
    }

    88% {
        background-position: 50% -770px;
    }

    92% {
        background-position: 50% -805px;
    }

    96% {
        background-position: 50% -840px;
    }

    100% {
        background-position: 50% -875px;
    }
}

@-moz-keyframes loading-animation {
    0% {
        background-position: 50% 0px;
    }

    4% {
        background-position: 50% -35px;
    }

    8% {
        background-position: 50% -70px;
    }

    12% {
        background-position: 50% -105px;
    }

    16% {
        background-position: 50% -140px;
    }

    20% {
        background-position: 50% -175px;
    }

    24% {
        background-position: 50% -210px;
    }

    28% {
        background-position: 50% -245px;
    }

    32% {
        background-position: 50% -280px;
    }

    36% {
        background-position: 50% -315px;
    }

    40% {
        background-position: 50% -350px;
    }

    44% {
        background-position: 50% -385px;
    }

    48% {
        background-position: 50% -420px;
    }

    52% {
        background-position: 50% -455px;
    }

    56% {
        background-position: 50% -490px;
    }

    60% {
        background-position: 50% -525px;
    }

    64% {
        background-position: 50% -560px;
    }

    68% {
        background-position: 50% -595px;
    }

    72% {
        background-position: 50% -630px;
    }

    76% {
        background-position: 50% -665px;
    }

    80% {
        background-position: 50% -700px;
    }

    84% {
        background-position: 50% -735px;
    }

    88% {
        background-position: 50% -770px;
    }

    92% {
        background-position: 50% -805px;
    }

    96% {
        background-position: 50% -840px;
    }

    100% {
        background-position: 50% -875px;
    }
}

@-o-keyframes loading-animation {
    0% {
        background-position: 50% 0px;
    }

    4% {
        background-position: 50% -35px;
    }

    8% {
        background-position: 50% -70px;
    }

    12% {
        background-position: 50% -105px;
    }

    16% {
        background-position: 50% -140px;
    }

    20% {
        background-position: 50% -175px;
    }

    24% {
        background-position: 50% -210px;
    }

    28% {
        background-position: 50% -245px;
    }

    32% {
        background-position: 50% -280px;
    }

    36% {
        background-position: 50% -315px;
    }

    40% {
        background-position: 50% -350px;
    }

    44% {
        background-position: 50% -385px;
    }

    48% {
        background-position: 50% -420px;
    }

    52% {
        background-position: 50% -455px;
    }

    56% {
        background-position: 50% -490px;
    }

    60% {
        background-position: 50% -525px;
    }

    64% {
        background-position: 50% -560px;
    }

    68% {
        background-position: 50% -595px;
    }

    72% {
        background-position: 50% -630px;
    }

    76% {
        background-position: 50% -665px;
    }

    80% {
        background-position: 50% -700px;
    }

    84% {
        background-position: 50% -735px;
    }

    88% {
        background-position: 50% -770px;
    }

    92% {
        background-position: 50% -805px;
    }

    96% {
        background-position: 50% -840px;
    }

    100% {
        background-position: 50% -875px;
    }
}

@keyframes loading-animation {
    0% {
        background-position: 50% 0px;
    }

    4% {
        background-position: 50% -35px;
    }

    8% {
        background-position: 50% -70px;
    }

    12% {
        background-position: 50% -105px;
    }

    16% {
        background-position: 50% -140px;
    }

    20% {
        background-position: 50% -175px;
    }

    24% {
        background-position: 50% -210px;
    }

    28% {
        background-position: 50% -245px;
    }

    32% {
        background-position: 50% -280px;
    }

    36% {
        background-position: 50% -315px;
    }

    40% {
        background-position: 50% -350px;
    }

    44% {
        background-position: 50% -385px;
    }

    48% {
        background-position: 50% -420px;
    }

    52% {
        background-position: 50% -455px;
    }

    56% {
        background-position: 50% -490px;
    }

    60% {
        background-position: 50% -525px;
    }

    64% {
        background-position: 50% -560px;
    }

    68% {
        background-position: 50% -595px;
    }

    72% {
        background-position: 50% -630px;
    }

    76% {
        background-position: 50% -665px;
    }

    80% {
        background-position: 50% -700px;
    }

    84% {
        background-position: 50% -735px;
    }

    88% {
        background-position: 50% -770px;
    }

    92% {
        background-position: 50% -805px;
    }

    96% {
        background-position: 50% -840px;
    }

    100% {
        background-position: 50% -875px;
    }
}




@-webkit-keyframes logospin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@-moz-keyframes logospin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@-o-keyframes logospin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes logospin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	80% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
