/* line 1, animations.scss */
.animate-items.ng-leave {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

/* line 2, animations.scss */
.animate-items.ng-leave {
  opacity: 1;
}

/* line 3, animations.scss */
.animate-items.ng-leave.ng-leaver-active {
  opacity: 0;
}

@-webkit-keyframes loading-animation {
  /* line 33, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 37, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 41, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 45, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 49, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 53, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 57, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 61, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 65, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 69, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 73, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 77, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 81, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 85, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 89, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 93, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 97, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 101, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 105, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 109, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 113, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 117, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 121, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 125, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 129, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 133, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-moz-keyframes loading-animation {
  /* line 139, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 143, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 147, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 151, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 155, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 159, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 163, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 167, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 171, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 175, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 179, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 183, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 187, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 191, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 195, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 199, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 203, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 207, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 211, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 215, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 219, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 223, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 227, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 231, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 235, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 239, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-o-keyframes loading-animation {
  /* line 245, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 249, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 253, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 257, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 261, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 265, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 269, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 273, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 277, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 281, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 285, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 289, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 293, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 297, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 301, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 305, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 309, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 313, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 317, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 321, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 325, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 329, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 333, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 337, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 341, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 345, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@keyframes loading-animation {
  /* line 351, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 355, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 359, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 363, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 367, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 371, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 375, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 379, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 383, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 387, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 391, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 395, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 399, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 403, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 407, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 411, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 415, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 419, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 423, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 427, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 431, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 435, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 439, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 443, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 447, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 451, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-webkit-keyframes logospin {
  /* line 460, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 468, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 476, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes logospin {
  /* line 486, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 494, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 502, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-o-keyframes logospin {
  /* line 512, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 520, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 528, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes logospin {
  /* line 538, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 546, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 554, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@media (min-width: 992px) {
  @-webkit-keyframes letitsnow {
    /* line 574, animations.scss */
    0% {
      top: 95%;
    }

    /* line 577, animations.scss */
    100% {
      top: 0%;
    }
}

  @-moz-keyframes letitsnow {
    /* line 574, animations.scss */
    0% {
      top: 95%;
    }

    /* line 577, animations.scss */
    100% {
      top: 0%;
    }
}

  @-o-keyframes letitsnow {
    /* line 574, animations.scss */
    0% {
      top: 95%;
    }

    /* line 577, animations.scss */
    100% {
      top: 0%;
    }
}

  @keyframes letitsnow {
    /* line 574, animations.scss */
    0% {
      top: 95%;
    }

    /* line 577, animations.scss */
    100% {
      top: 0%;
    }
}

  /* line 582, animations.scss */
  .snow {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -9999px;
  }

  /* line 594, animations.scss */
  #snow0 {
    -webkit-animation: letitsnow 14s infinite linear 0.8s;
    -moz-animation: letitsnow 14s infinite linear 0.8s;
    -o-animation: letitsnow 14s infinite linear 0.8s;
    animation: letitsnow 14s infinite linear 0.8s;
    left: 60%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow1 {
    -webkit-animation: letitsnow 12s infinite linear 18.65s;
    -moz-animation: letitsnow 12s infinite linear 18.65s;
    -o-animation: letitsnow 12s infinite linear 18.65s;
    animation: letitsnow 12s infinite linear 18.65s;
    left: 47%;
    height: 3px;
    width: 3px;
  }

  /* line 594, animations.scss */
  #snow2 {
    -webkit-animation: letitsnow 10s infinite linear 12.45s;
    -moz-animation: letitsnow 10s infinite linear 12.45s;
    -o-animation: letitsnow 10s infinite linear 12.45s;
    animation: letitsnow 10s infinite linear 12.45s;
    left: 6%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow3 {
    -webkit-animation: letitsnow 19s infinite linear 13.7s;
    -moz-animation: letitsnow 19s infinite linear 13.7s;
    -o-animation: letitsnow 19s infinite linear 13.7s;
    animation: letitsnow 19s infinite linear 13.7s;
    left: 63%;
    height: 5px;
    width: 5px;
  }

  /* line 594, animations.scss */
  #snow4 {
    -webkit-animation: letitsnow 15s infinite linear 7.45s;
    -moz-animation: letitsnow 15s infinite linear 7.45s;
    -o-animation: letitsnow 15s infinite linear 7.45s;
    animation: letitsnow 15s infinite linear 7.45s;
    left: 77%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow5 {
    -webkit-animation: letitsnow 17s infinite linear 20.2s;
    -moz-animation: letitsnow 17s infinite linear 20.2s;
    -o-animation: letitsnow 17s infinite linear 20.2s;
    animation: letitsnow 17s infinite linear 20.2s;
    left: 70%;
    height: 3px;
    width: 3px;
  }

  /* line 594, animations.scss */
  #snow6 {
    -webkit-animation: letitsnow 14s infinite linear 20.1s;
    -moz-animation: letitsnow 14s infinite linear 20.1s;
    -o-animation: letitsnow 14s infinite linear 20.1s;
    animation: letitsnow 14s infinite linear 20.1s;
    left: 14%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow7 {
    -webkit-animation: letitsnow 17s infinite linear 16.7s;
    -moz-animation: letitsnow 17s infinite linear 16.7s;
    -o-animation: letitsnow 17s infinite linear 16.7s;
    animation: letitsnow 17s infinite linear 16.7s;
    left: 78%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow8 {
    -webkit-animation: letitsnow 16s infinite linear 17.6s;
    -moz-animation: letitsnow 16s infinite linear 17.6s;
    -o-animation: letitsnow 16s infinite linear 17.6s;
    animation: letitsnow 16s infinite linear 17.6s;
    left: 86%;
    height: 3px;
    width: 3px;
  }

  /* line 594, animations.scss */
  #snow9 {
    -webkit-animation: letitsnow 10s infinite linear 17.25s;
    -moz-animation: letitsnow 10s infinite linear 17.25s;
    -o-animation: letitsnow 10s infinite linear 17.25s;
    animation: letitsnow 10s infinite linear 17.25s;
    left: 36%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow10 {
    -webkit-animation: letitsnow 16s infinite linear 17.05s;
    -moz-animation: letitsnow 16s infinite linear 17.05s;
    -o-animation: letitsnow 16s infinite linear 17.05s;
    animation: letitsnow 16s infinite linear 17.05s;
    left: 42%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow11 {
    -webkit-animation: letitsnow 15s infinite linear 11.4s;
    -moz-animation: letitsnow 15s infinite linear 11.4s;
    -o-animation: letitsnow 15s infinite linear 11.4s;
    animation: letitsnow 15s infinite linear 11.4s;
    left: 34%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow12 {
    -webkit-animation: letitsnow 17s infinite linear 0.5s;
    -moz-animation: letitsnow 17s infinite linear 0.5s;
    -o-animation: letitsnow 17s infinite linear 0.5s;
    animation: letitsnow 17s infinite linear 0.5s;
    left: 26%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow13 {
    -webkit-animation: letitsnow 11s infinite linear 12.35s;
    -moz-animation: letitsnow 11s infinite linear 12.35s;
    -o-animation: letitsnow 11s infinite linear 12.35s;
    animation: letitsnow 11s infinite linear 12.35s;
    left: 60%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow14 {
    -webkit-animation: letitsnow 17s infinite linear 24.95s;
    -moz-animation: letitsnow 17s infinite linear 24.95s;
    -o-animation: letitsnow 17s infinite linear 24.95s;
    animation: letitsnow 17s infinite linear 24.95s;
    left: 0%;
    height: 5px;
    width: 5px;
  }

  /* line 594, animations.scss */
  #snow15 {
    -webkit-animation: letitsnow 12s infinite linear 24.8s;
    -moz-animation: letitsnow 12s infinite linear 24.8s;
    -o-animation: letitsnow 12s infinite linear 24.8s;
    animation: letitsnow 12s infinite linear 24.8s;
    left: 32%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow16 {
    -webkit-animation: letitsnow 11s infinite linear 7.15s;
    -moz-animation: letitsnow 11s infinite linear 7.15s;
    -o-animation: letitsnow 11s infinite linear 7.15s;
    animation: letitsnow 11s infinite linear 7.15s;
    left: 25%;
    height: 3px;
    width: 3px;
  }

  /* line 594, animations.scss */
  #snow17 {
    -webkit-animation: letitsnow 10s infinite linear 1.6s;
    -moz-animation: letitsnow 10s infinite linear 1.6s;
    -o-animation: letitsnow 10s infinite linear 1.6s;
    animation: letitsnow 10s infinite linear 1.6s;
    left: 74%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow18 {
    -webkit-animation: letitsnow 16s infinite linear 20.75s;
    -moz-animation: letitsnow 16s infinite linear 20.75s;
    -o-animation: letitsnow 16s infinite linear 20.75s;
    animation: letitsnow 16s infinite linear 20.75s;
    left: 24%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow19 {
    -webkit-animation: letitsnow 16s infinite linear 3.4s;
    -moz-animation: letitsnow 16s infinite linear 3.4s;
    -o-animation: letitsnow 16s infinite linear 3.4s;
    animation: letitsnow 16s infinite linear 3.4s;
    left: 11%;
    height: 3px;
    width: 3px;
  }

  /* line 594, animations.scss */
  #snow20 {
    -webkit-animation: letitsnow 16s infinite linear 14.25s;
    -moz-animation: letitsnow 16s infinite linear 14.25s;
    -o-animation: letitsnow 16s infinite linear 14.25s;
    animation: letitsnow 16s infinite linear 14.25s;
    left: 61%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow21 {
    -webkit-animation: letitsnow 16s infinite linear 24.25s;
    -moz-animation: letitsnow 16s infinite linear 24.25s;
    -o-animation: letitsnow 16s infinite linear 24.25s;
    animation: letitsnow 16s infinite linear 24.25s;
    left: 10%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow22 {
    -webkit-animation: letitsnow 10s infinite linear 20.5s;
    -moz-animation: letitsnow 10s infinite linear 20.5s;
    -o-animation: letitsnow 10s infinite linear 20.5s;
    animation: letitsnow 10s infinite linear 20.5s;
    left: 54%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow23 {
    -webkit-animation: letitsnow 17s infinite linear 3.85s;
    -moz-animation: letitsnow 17s infinite linear 3.85s;
    -o-animation: letitsnow 17s infinite linear 3.85s;
    animation: letitsnow 17s infinite linear 3.85s;
    left: 73%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow24 {
    -webkit-animation: letitsnow 18s infinite linear 15.85s;
    -moz-animation: letitsnow 18s infinite linear 15.85s;
    -o-animation: letitsnow 18s infinite linear 15.85s;
    animation: letitsnow 18s infinite linear 15.85s;
    left: 19%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow25 {
    -webkit-animation: letitsnow 18s infinite linear 14.35s;
    -moz-animation: letitsnow 18s infinite linear 14.35s;
    -o-animation: letitsnow 18s infinite linear 14.35s;
    animation: letitsnow 18s infinite linear 14.35s;
    left: 24%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow26 {
    -webkit-animation: letitsnow 16s infinite linear 9.35s;
    -moz-animation: letitsnow 16s infinite linear 9.35s;
    -o-animation: letitsnow 16s infinite linear 9.35s;
    animation: letitsnow 16s infinite linear 9.35s;
    left: 56%;
    height: 4px;
    width: 4px;
  }

  /* line 594, animations.scss */
  #snow27 {
    -webkit-animation: letitsnow 12s infinite linear 23.35s;
    -moz-animation: letitsnow 12s infinite linear 23.35s;
    -o-animation: letitsnow 12s infinite linear 23.35s;
    animation: letitsnow 12s infinite linear 23.35s;
    left: 24%;
    height: 6px;
    width: 6px;
  }

  /* line 594, animations.scss */
  #snow28 {
    -webkit-animation: letitsnow 15s infinite linear 21.1s;
    -moz-animation: letitsnow 15s infinite linear 21.1s;
    -o-animation: letitsnow 15s infinite linear 21.1s;
    animation: letitsnow 15s infinite linear 21.1s;
    left: 73%;
    height: 2px;
    width: 2px;
  }

  /* line 594, animations.scss */
  #snow29 {
    -webkit-animation: letitsnow 18s infinite linear 19.15s;
    -moz-animation: letitsnow 18s infinite linear 19.15s;
    -o-animation: letitsnow 18s infinite linear 19.15s;
    animation: letitsnow 18s infinite linear 19.15s;
    left: 93%;
    height: 3px;
    width: 3px;
  }
}
@-webkit-keyframes shiftcover {
  /* line 605, animations.scss */
  0% {
    background-position: 50% 50%;
  }

  /* line 611, animations.scss */
  50% {
    background-position: 50% 20%;
  }

  /* line 616, animations.scss */
  100% {
    background-position: 50% 50%;
  }
}

@-moz-keyframes shiftcover {
  /* line 605, animations.scss */
  0% {
    background-position: 50% 50%;
  }

  /* line 611, animations.scss */
  50% {
    background-position: 50% 20%;
  }

  /* line 616, animations.scss */
  100% {
    background-position: 50% 50%;
  }
}

@-o-keyframes shiftcover {
  /* line 605, animations.scss */
  0% {
    background-position: 50% 50%;
  }

  /* line 611, animations.scss */
  50% {
    background-position: 50% 20%;
  }

  /* line 616, animations.scss */
  100% {
    background-position: 50% 50%;
  }
}

@keyframes shiftcover {
  /* line 605, animations.scss */
  0% {
    background-position: 50% 50%;
  }

  /* line 611, animations.scss */
  50% {
    background-position: 50% 20%;
  }

  /* line 616, animations.scss */
  100% {
    background-position: 50% 50%;
  }
}
