/* line 4, animations.scss */
.animate-items.ng-leave {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}

/* line 5, animations.scss */
.animate-items.ng-leave {
  opacity: 1;
}

/* line 6, animations.scss */
.animate-items.ng-leave.ng-leaver-active {
  opacity: 0;
}

@-webkit-keyframes loading-animation {
  /* line 12, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 16, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 20, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 24, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 28, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 32, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 36, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 40, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 44, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 48, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 52, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 56, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 60, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 64, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 68, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 72, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 76, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 80, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 84, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 88, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 92, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 96, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 100, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 104, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 108, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 112, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-moz-keyframes loading-animation {
  /* line 118, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 122, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 126, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 130, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 134, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 138, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 142, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 146, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 150, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 154, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 158, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 162, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 166, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 170, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 174, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 178, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 182, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 186, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 190, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 194, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 198, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 202, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 206, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 210, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 214, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 218, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-o-keyframes loading-animation {
  /* line 224, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 228, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 232, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 236, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 240, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 244, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 248, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 252, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 256, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 260, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 264, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 268, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 272, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 276, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 280, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 284, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 288, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 292, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 296, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 300, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 304, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 308, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 312, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 316, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 320, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 324, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@keyframes loading-animation {
  /* line 330, animations.scss */
  0% {
    background-position: 50% 0px;
  }

  /* line 334, animations.scss */
  4% {
    background-position: 50% -35px;
  }

  /* line 338, animations.scss */
  8% {
    background-position: 50% -70px;
  }

  /* line 342, animations.scss */
  12% {
    background-position: 50% -105px;
  }

  /* line 346, animations.scss */
  16% {
    background-position: 50% -140px;
  }

  /* line 350, animations.scss */
  20% {
    background-position: 50% -175px;
  }

  /* line 354, animations.scss */
  24% {
    background-position: 50% -210px;
  }

  /* line 358, animations.scss */
  28% {
    background-position: 50% -245px;
  }

  /* line 362, animations.scss */
  32% {
    background-position: 50% -280px;
  }

  /* line 366, animations.scss */
  36% {
    background-position: 50% -315px;
  }

  /* line 370, animations.scss */
  40% {
    background-position: 50% -350px;
  }

  /* line 374, animations.scss */
  44% {
    background-position: 50% -385px;
  }

  /* line 378, animations.scss */
  48% {
    background-position: 50% -420px;
  }

  /* line 382, animations.scss */
  52% {
    background-position: 50% -455px;
  }

  /* line 386, animations.scss */
  56% {
    background-position: 50% -490px;
  }

  /* line 390, animations.scss */
  60% {
    background-position: 50% -525px;
  }

  /* line 394, animations.scss */
  64% {
    background-position: 50% -560px;
  }

  /* line 398, animations.scss */
  68% {
    background-position: 50% -595px;
  }

  /* line 402, animations.scss */
  72% {
    background-position: 50% -630px;
  }

  /* line 406, animations.scss */
  76% {
    background-position: 50% -665px;
  }

  /* line 410, animations.scss */
  80% {
    background-position: 50% -700px;
  }

  /* line 414, animations.scss */
  84% {
    background-position: 50% -735px;
  }

  /* line 418, animations.scss */
  88% {
    background-position: 50% -770px;
  }

  /* line 422, animations.scss */
  92% {
    background-position: 50% -805px;
  }

  /* line 426, animations.scss */
  96% {
    background-position: 50% -840px;
  }

  /* line 430, animations.scss */
  100% {
    background-position: 50% -875px;
  }
}

@-webkit-keyframes logospin {
  /* line 439, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 447, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 455, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes logospin {
  /* line 465, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 473, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 481, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-o-keyframes logospin {
  /* line 491, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 499, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 507, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes logospin {
  /* line 517, animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 525, animations.scss */
  80% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  /* line 533, animations.scss */
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
