.fadeinandout.ng-enter {
    -webkit-transition:all  1.5s;
    -moz-transition:all  1.5s;
    -o-transition:all  1.5s;
    transition:all  1.5s;
}

.fadeinandout.ng-enter {
    opacity:0;

}

.fadeinandout.ng-enter.ng-enter-active {
    opacity:1;
}

