body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.padding-top-10 {
    padding-top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.no-href-link{
    cursor: pointer;
}