/* line 17, style.scss */
body {
  padding: 35px 25px 100px 25px;
  font: 14px;
  background: #7ccce5;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  color: #505050;
}

/* line 28, style.scss */
h1, h2, h3, h4, h5, button, a, blockquote, p {
  font-family: 'Lato', Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 33, style.scss */
a, span, div, button {
  outline: none !important;
}

/* line 37, style.scss */
.padding-bottom-70 {
  padding-bottom: 70px;
}

/* line 41, style.scss */
.padding-right-0 {
  padding-right: 0px;
}

/* line 45, style.scss */
.padding-left-0 {
  padding-left: 0;
}

/* line 49, style.scss */
.padding-left-120 {
  padding-left: 120px;
}

/* line 53, style.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 57, style.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 61, style.scss */
.no-href-link {
  cursor: pointer;
}

/* line 65, style.scss */
.red-bg {
  background-color: #d9534f;
}

/* line 69, style.scss */
.list-item-info {
  padding-left: 110px;
}

/* line 73, style.scss */
.subject-cover {
  height: 200px;
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 79, style.scss */
.subject-cover:hover {
  -webkit-animation: shiftcover 10s ease-in-out 1;
  -moz-animation: shiftcover 10s ease-in-out 1;
  -o-animation: shiftcover 10s ease-in-out 1;
  animation: shiftcover 10s ease-in-out 1;
}

/* line 85, style.scss */
.list-item-thumb, .avatar {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: none;
}

/* line 92, style.scss */
.square-100 {
  width: 100px;
  height: 100px;
  position: relative;
}

/* line 98, style.scss */
.square-150 {
  width: 150px;
  height: 150px;
  position: relative;
}

/* line 104, style.scss */
.checked {
  display: none;
}

/* line 108, style.scss */
.white-mask .checked, .square-100:hover .checked {
  display: block;
  color: white;
  position: absolute;
  left: 40%;
  font-size: 21px;
  line-height: 100px;
}

/* line 117, style.scss */
.white-mask, .square-100:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 121, style.scss */
.blue-mask {
  background-color: rgba(124, 204, 229, 0.5);
}

/* line 125, style.scss */
.height-100 {
  height: 100px;
}

/* line 129, style.scss */
.white-border-5 {
  border: 5px solid white;
}

/* line 133, style.scss */
.cyan-bg {
  background-color: #62afb5;
}

/* line 137, style.scss */
.pink-bg {
  background-color: #f96790;
}

/* line 141, style.scss */
.blue-bg {
  background-color: #7ccce5;
}

/* line 146, style.scss */
.diamond.square {
  width: 100px;
  height: 100px;
  margin: 25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
}
/* line 155, style.scss */
.diamond.pic {
  background: url("http://lain.bgm.tv/pic/user/l/000/00/28/2813.jpg?r=1377940764");
  width: 75px;
  height: 75px;
  margin: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 166, style.scss */
.div-circle {
  border-radius: 50%;
}
/* line 168, style.scss */
.div-circle.responsive {
  padding-bottom: 95%;
  width: 100%;
}

/* line 174, style.scss */
.card {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(80, 80, 80, 0.1) 1px 2px;
}
/* line 180, style.scss */
.card.ep {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  position: relative;
}
/* line 184, style.scss */
.card.selected {
  box-shadow: rgba(66, 139, 202, 0.8) 1px 2px;
}
/* line 188, style.scss */
.card.ep.selected {
  background-color: #428bca;
  color: white;
}
/* line 193, style.scss */
.card .ephotness {
  -webkit-transition: width 200ms ease-in;
  -moz-transition: width 200ms ease-in;
  -o-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
  background-color: #e6f5fa;
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.5;
}
/* line 206, style.scss */
.card:hover .ephotness {
  opacity: 1;
}
/* line 210, style.scss */
.card .inner {
  position: relative;
}

/* line 215, style.scss */
.big-score {
  background-color: white;
  margin: 120px auto 0 auto;
  box-shadow: rgba(80, 80, 80, 0.3) 1px 2px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* line 222, style.scss */
.gridpreview {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
/* line 228, style.scss */
.gridpreview .grid {
  cursor: pointer;
  -webkit-transition: background-position 1100ms;
  -moz-transition: background-position 1100ms;
  -o-transition: background-position 1100ms;
  transition: background-position 1100ms;
  height: 200px;
  background-size: cover;
  background-position: 50% 0%;
}
/* line 234, style.scss */
.gridpreview .grid:hover {
  background-position: 50% 100%;
  border: #f96790 5px solid;
}
/* line 238, style.scss */
.gridpreview .grid.pinned {
  border: #f96790 5px solid;
}

/* line 247, style.scss */
.special-body {
  margin-top: 20px;
}
/* line 249, style.scss */
.special-body .help {
  background-color: #428bca;
  padding-left: 20px;
}

/* line 255, style.scss */
.special-nav {
  background-color: #d9534f;
}
/* line 258, style.scss */
.special-nav h3.white-text.pull-left {
  margin: 10px;
}
/* line 261, style.scss */
.special-nav .btn {
  -webkit-transition: font-size 200ms;
  -moz-transition: font-size 200ms;
  -o-transition: font-size 200ms;
  transition: font-size 200ms;
  font-size: 25px;
  color: white;
  background-color: #d9534f;
}
/* line 266, style.scss */
.special-nav .btn:hover {
  font-size: 23px;
}
/* line 269, style.scss */
.special-nav .btn:active {
  font-size: 20px;
}

/* line 279, style.scss */
.specials-col > .pinned .staff, .specials-col > .pinned .summary, .specials-col > .pinned .cover {
  display: none;
}
/* line 284, style.scss */
.specials-col > .pinned:hover .staff, .specials-col > .pinned:hover .summary, .specials-col > .pinned:hover .cover {
  display: block;
}
/* line 293, style.scss */
.specials-col .staff {
  border-top: 1px #b6b6b6 dashed;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 30px;
}
/* line 299, style.scss */
.specials-col .summary {
  color: #838383;
  font-size: smaller;
  padding-top: 10px;
  margin-top: 10px;
}
/* line 305, style.scss */
.specials-col .subtitle {
  font-size: smaller;
}
/* line 310, style.scss */
.specials-col .cover {
  min-height: 200px;
  background-size: cover;
}
/* line 314, style.scss */
.specials-col .pin {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
  padding-left: 10px;
  color: #b6b6b6;
}
/* line 319, style.scss */
.specials-col .pin:hover {
  color: #7ccce5;
}
/* line 322, style.scss */
.specials-col .pin.pinned {
  color: #7ccce5;
}
/* line 326, style.scss */
.specials-col .tag {
  margin: 3px 3px 3px 3px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
}
/* line 330, style.scss */
.specials-col .tag.highlighted {
  background-color: #7ccce5;
  color: white;
}
/* line 334, style.scss */
.specials-col .tag:hover {
  color: white;
  background-color: #7ccce5;
}

/* line 342, style.scss */
.tag {
  color: rgba(80, 80, 80, 0.7);
  padding: 3px 5px 3px 5px;
  font-size: smaller;
  float: left;
}
/* line 347, style.scss */
.tag .glyphicon {
  padding-right: 17px;
}

/* line 355, style.scss */
.left-triangle {
  -webkit-transition: border-right-width 200ms;
  -moz-transition: border-right-width 200ms;
  -o-transition: border-right-width 200ms;
  transition: border-right-width 200ms;
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: 100px solid #7ccce5;
  border-top: 60px solid transparent;
  border-bottom: 25px solid transparent;
  position: relative;
}
/* line 365, style.scss */
.left-triangle:hover {
  border-right-width: 130px;
}
/* line 368, style.scss */
.left-triangle.cyan-bg {
  background-color: transparent;
  border-right-color: #62afb5;
}
/* line 372, style.scss */
.left-triangle.red-bg {
  background-color: transparent;
  border-right-color: #d9534f;
}
/* line 376, style.scss */
.left-triangle.blue-bg {
  border-right-color: #428bca;
  background-color: transparent;
}
/* line 380, style.scss */
.left-triangle.pink-bg {
  border-right-color: #f96790;
  background-color: transparent;
}

/* line 386, style.scss */
.side_menu_btn {
  letter-spacing: 2px;
  position: absolute;
  color: white;
  transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -webkit-transform: rotate(-14deg);
  left: 40px;
  bottom: -9px;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

/* line 404, style.scss */
.navbar-menu-bot {
  height: 75px;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 411, style.scss */
.navbar-menu-btn {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  line-height: 85px;
  cursor: pointer;
  color: white;
  font-size: x-large;
  display: inline-block;
}
/* line 421, style.scss */
.navbar-menu-btn:hover, .navbar-menu-btn:focus {
  color: white;
}

/* line 426, style.scss */
.super-nav-bar-bottom .action_btns .btn {
  border-right: 1px solid rgba(80, 80, 80, 0.7);
  height: 85px;
  text-shadow: 1px 1px rgba(80, 80, 80, 0.8);
}
/* line 430, style.scss */
.super-nav-bar-bottom .action_btns .btn:last-child {
  border-right: 0;
}
/* line 433, style.scss */
.super-nav-bar-bottom .action_btns .btn:focus {
  color: white;
}
/* line 436, style.scss */
.super-nav-bar-bottom .action_btns .btn:hover {
  color: #d9534f;
  background-color: white;
  margin-top: -5px;
  box-shadow: 0px 2px rgba(80, 80, 80, 0.8);
  border-right: 0;
}

/* line 445, style.scss */
.switch-btn {
  cursor: pointer;
  line-height: 40px;
}
/* line 448, style.scss */
.switch-btn:hover, .switch-btn.active {
  color: #7ccce5;
}

/* line 453, style.scss */
.icon-flipped {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 456, style.scss */
.icon-flipped.icon-rotated-180-right {
  -webkit-transform: rotate(180deg) scaleX(-1);
  -moz-transform: rotate(180deg) scaleX(-1);
  -ms-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

/* line 461, style.scss */
.super-nav-bar-bottom {
  border-top: 1px solid #ac2925;
}

/* line 465, style.scss */
.tooltips {
  display: inline;
  position: relative;
  opacity: 1;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  -webkit-transition: opacity 800ms;
  /* Safari */
  transition: opacity 800ms;
}
/* line 474, style.scss */
.tooltips .inner {
  background: #428bca;
  bottom: 55px;
  color: #fff;
  min-width: 300px;
  max-width: 300px;
  left: -100px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
}
/* line 486, style.scss */
.tooltips:before {
  border: solid;
  border-color: #428bca transparent;
  border-width: 19px 1px 0 13px;
  bottom: 40px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

/* line 498, style.scss */
.side-menu {
  -webkit-transition: margin-right 200ms;
  -moz-transition: margin-right 200ms;
  -o-transition: margin-right 200ms;
  transition: margin-right 200ms;
  width: 120px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 15px;
  margin-right: -100px;
}
/* line 508, style.scss */
.side-menu:hover, .side-menu.show {
  margin-right: 0;
}

/* line 513, style.scss */
.progress-total {
  width: 100%;
}

/* line 517, style.scss */
.progress-current {
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
  height: 5px;
}

/* line 523, style.scss */
.navbar-bottom-avatar {
  width: 100px;
}

/* line 527, style.scss */
.absolute-center-block {
  /* must set width */
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 535, style.scss */
.large-quote {
  color: white;
}

/* line 539, style.scss */
.navbar-fixed-bottom .large-quote {
  padding: 20px;
}

/* line 543, style.scss */
.gray-border-top {
  border-top: 3px solid #9d9d9d;
}

/* line 547, style.scss */
.pink-border-top {
  border-top: 3px solid #f96790;
}

/* line 551, style.scss */
.cyan-border-top {
  border-top: 3px solid #62afb5;
}

/* line 555, style.scss */
.blue-border-top {
  border-top: 3px solid #428bca;
}

/* line 559, style.scss */
.orange-border-top {
  border-top: 3px solid #F79B57;
}

/* line 563, style.scss */
.red-border-top {
  border-top: 3px solid #d9534f;
}

/* line 567, style.scss */
.pink-border-left {
  border-left: 3px solid #f96790;
}

/* line 571, style.scss */
.cyan-border-left {
  border-left: 3px solid #62afb5;
}

/* line 575, style.scss */
.blue-border-left {
  border-left: 3px solid #428bca;
}

/* line 579, style.scss */
.orange-border-left {
  border-left: 3px solid #F79B57;
}

/* line 583, style.scss */
.red-border-left {
  border-left: 3px solid #d9534f;
}

/* line 587, style.scss */
.white-text {
  color: white;
}

/* line 591, style.scss */
.faded {
  opacity: 0.5;
}
/* line 592, style.scss */
.faded:hover {
  opacity: 1;
}

/* line 598, style.scss */
.search-icon {
  width: 14px !important;
  line-height: inherit;
  margin: auto;
}

/* line 604, style.scss */
.subject-link-btn {
  height: 100px;
  /*color: $c-blue;*/
  color: rgba(80, 80, 80, 0.1);
}
/* line 608, style.scss */
.subject-link-btn:hover {
  color: rgba(80, 80, 80, 0.5);
}
/* line 611, style.scss */
.subject-link-btn .glyphicon {
  line-height: 100px;
}

/* line 616, style.scss */
.loading-bar {
  height: 35px;
  background-color: #7ccce5;
  background-image: url("/img/loading.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-animation: loading-animation 1s infinite steps(1);
  -moz-animation: loading-animation 1s infinite steps(1);
  -o-animation: loading-animation 1s infinite steps(1);
  animation: loading-animation 1s infinite steps(1);
  width: 100%;
}

/* line 627, style.scss */
.visually-hidden {
  opacity: 0;
}

/* line 631, style.scss */
.subject-title:hover h1, .subject-title:hover h4 {
  color: #7ccce5;
}

/* line 636, style.scss */
a:link.search-title {
  color: #505050;
}
/* line 640, style.scss */
a.search-title {
  text-decoration: none;
  color: #505050;
}
/* line 643, style.scss */
a.search-title h4, a.search-title h6 {
  display: inline-block;
}
/* line 646, style.scss */
a.search-title h6 {
  line-height: 19px;
  padding-left: 20px;
  color: rgba(80, 80, 80, 0.3);
}
/* line 651, style.scss */
a.search-title:hover {
  color: #7ccce5;
}

/* line 658, style.scss */
.aired {
  border-left: #62afb5 solid 3px;
}

/* line 662, style.scss */
.onair {
  border-left: #8bb65b solid 3px;
}

/* line 666, style.scss */
.onairtag {
  display: inline-block;
  background-color: rgba(139, 182, 91, 0.9);
  color: white;
  padding: 3px 5px;
}

/* line 674, style.scss */
.watched {
  border-left: #428bca solid 3px;
}

/* adpoted from http://codepen.io/geedmo/pen/InFfd */
/* line 690, style.scss */
.progress-0 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(90deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-10 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(126deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-20 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(162deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-30 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(198deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-40 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(234deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-50 {
  background-image: linear-gradient(-90deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-60 {
  background-image: linear-gradient(-54deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-70 {
  background-image: linear-gradient(-18deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-80 {
  background-image: linear-gradient(18deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-90 {
  background-image: linear-gradient(54deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 690, style.scss */
.progress-100 {
  background-image: linear-gradient(90deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/*logo for 404 page*/
/* line 703, style.scss */
.logospin {
  margin: auto;
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
}
/* line 710, style.scss */
.logospin .segment {
  position: absolute;
  top: 0;
  left: 50px;
  width: 0;
  height: 0;
  -webkit-animation: logospin 3s infinite ease-out;
  -moz-animation: logospin 3s infinite ease-out;
  animation: logospin 3s infinite ease-out;
}
/* line 719, style.scss */
.logospin .segment:nth-of-type(1) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #62afb5 transparent transparent transparent;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 732, style.scss */
.logospin .segment:nth-of-type(2) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #428bca transparent transparent transparent;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 745, style.scss */
.logospin .segment:nth-of-type(3) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #f96790 transparent transparent transparent;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 758, style.scss */
.logospin .segment:nth-of-type(4) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #d9534f transparent transparent transparent;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max-height: 450px) {
  /* line 778, style.scss */
  .side-menu .red-bg, .side-menu .pink-bg {
    display: none;
  }
}
/*xs screen only css*/
@media (max-width: 767px), (max-height: 450px) {
  /* line 790, style.scss */
  .navbar-menu-bot {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* line 798, style.scss */
  .navbar-menu-btn {
    line-height: 50px;
  }

  /* line 804, style.scss */
  .super-nav-bar-bottom .action_btns .btn {
    height: 40px;
  }

  /* line 809, style.scss */
  .tooltips .inner {
    bottom: 30px;
    min-width: 200px;
    max-width: 250px;
  }
  /* line 814, style.scss */
  .tooltips:before {
    bottom: 15px;
  }
}
/*push if it's tablet or phone*/
@media (max-width: 991px) {
  /* line 825, style.scss */
  .push-aside {
    margin-left: -100px;
    margin-right: 100px;
  }

  /* line 829, style.scss */
  .mobile-btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
  }

  /*no hover quick fly out side menu for mobile devices*/
  /* line 835, style.scss */
  .side-menu {
    width: 100px;
  }
}
@media (min-width: 992px) {
  @-webkit-keyframes letitsnow {
    /* line 845, style.scss */
    0% {
      top: 95%;
    }

    /* line 848, style.scss */
    100% {
      top: 0%;
    }
}

  @-moz-keyframes letitsnow {
    /* line 845, style.scss */
    0% {
      top: 95%;
    }

    /* line 848, style.scss */
    100% {
      top: 0%;
    }
}

  @-o-keyframes letitsnow {
    /* line 845, style.scss */
    0% {
      top: 95%;
    }

    /* line 848, style.scss */
    100% {
      top: 0%;
    }
}

  @keyframes letitsnow {
    /* line 845, style.scss */
    0% {
      top: 95%;
    }

    /* line 848, style.scss */
    100% {
      top: 0%;
    }
}

  /* line 853, style.scss */
  .snow {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top: -9999px;
  }

  /* line 868, style.scss */
  #snow0 {
    -webkit-animation: letitsnow 18s infinite linear 10.35s;
    -moz-animation: letitsnow 18s infinite linear 10.35s;
    -o-animation: letitsnow 18s infinite linear 10.35s;
    animation: letitsnow 18s infinite linear 10.35s;
    left: 5%;
    height: 2px;
    width: 2px;
  }

  /* line 868, style.scss */
  #snow1 {
    -webkit-animation: letitsnow 15s infinite linear 20.15s;
    -moz-animation: letitsnow 15s infinite linear 20.15s;
    -o-animation: letitsnow 15s infinite linear 20.15s;
    animation: letitsnow 15s infinite linear 20.15s;
    left: 16%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow2 {
    -webkit-animation: letitsnow 10s infinite linear 21.6s;
    -moz-animation: letitsnow 10s infinite linear 21.6s;
    -o-animation: letitsnow 10s infinite linear 21.6s;
    animation: letitsnow 10s infinite linear 21.6s;
    left: 39%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow3 {
    -webkit-animation: letitsnow 16s infinite linear 3.45s;
    -moz-animation: letitsnow 16s infinite linear 3.45s;
    -o-animation: letitsnow 16s infinite linear 3.45s;
    animation: letitsnow 16s infinite linear 3.45s;
    left: 5%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow4 {
    -webkit-animation: letitsnow 13s infinite linear 13.05s;
    -moz-animation: letitsnow 13s infinite linear 13.05s;
    -o-animation: letitsnow 13s infinite linear 13.05s;
    animation: letitsnow 13s infinite linear 13.05s;
    left: 42%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow5 {
    -webkit-animation: letitsnow 10s infinite linear 21.05s;
    -moz-animation: letitsnow 10s infinite linear 21.05s;
    -o-animation: letitsnow 10s infinite linear 21.05s;
    animation: letitsnow 10s infinite linear 21.05s;
    left: 46%;
    height: 2px;
    width: 2px;
  }

  /* line 868, style.scss */
  #snow6 {
    -webkit-animation: letitsnow 18s infinite linear 18.45s;
    -moz-animation: letitsnow 18s infinite linear 18.45s;
    -o-animation: letitsnow 18s infinite linear 18.45s;
    animation: letitsnow 18s infinite linear 18.45s;
    left: 94%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow7 {
    -webkit-animation: letitsnow 16s infinite linear 1.6s;
    -moz-animation: letitsnow 16s infinite linear 1.6s;
    -o-animation: letitsnow 16s infinite linear 1.6s;
    animation: letitsnow 16s infinite linear 1.6s;
    left: 81%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow8 {
    -webkit-animation: letitsnow 12s infinite linear 2.6s;
    -moz-animation: letitsnow 12s infinite linear 2.6s;
    -o-animation: letitsnow 12s infinite linear 2.6s;
    animation: letitsnow 12s infinite linear 2.6s;
    left: 50%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow9 {
    -webkit-animation: letitsnow 11s infinite linear 22.75s;
    -moz-animation: letitsnow 11s infinite linear 22.75s;
    -o-animation: letitsnow 11s infinite linear 22.75s;
    animation: letitsnow 11s infinite linear 22.75s;
    left: 39%;
    height: 4px;
    width: 4px;
  }

  /* line 868, style.scss */
  #snow10 {
    -webkit-animation: letitsnow 11s infinite linear 6.8s;
    -moz-animation: letitsnow 11s infinite linear 6.8s;
    -o-animation: letitsnow 11s infinite linear 6.8s;
    animation: letitsnow 11s infinite linear 6.8s;
    left: 45%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow11 {
    -webkit-animation: letitsnow 19s infinite linear 8.35s;
    -moz-animation: letitsnow 19s infinite linear 8.35s;
    -o-animation: letitsnow 19s infinite linear 8.35s;
    animation: letitsnow 19s infinite linear 8.35s;
    left: 9%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow12 {
    -webkit-animation: letitsnow 11s infinite linear 16.85s;
    -moz-animation: letitsnow 11s infinite linear 16.85s;
    -o-animation: letitsnow 11s infinite linear 16.85s;
    animation: letitsnow 11s infinite linear 16.85s;
    left: 55%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow13 {
    -webkit-animation: letitsnow 10s infinite linear 21.9s;
    -moz-animation: letitsnow 10s infinite linear 21.9s;
    -o-animation: letitsnow 10s infinite linear 21.9s;
    animation: letitsnow 10s infinite linear 21.9s;
    left: 71%;
    height: 2px;
    width: 2px;
  }

  /* line 868, style.scss */
  #snow14 {
    -webkit-animation: letitsnow 11s infinite linear 19.3s;
    -moz-animation: letitsnow 11s infinite linear 19.3s;
    -o-animation: letitsnow 11s infinite linear 19.3s;
    animation: letitsnow 11s infinite linear 19.3s;
    left: 49%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow15 {
    -webkit-animation: letitsnow 18s infinite linear 16.85s;
    -moz-animation: letitsnow 18s infinite linear 16.85s;
    -o-animation: letitsnow 18s infinite linear 16.85s;
    animation: letitsnow 18s infinite linear 16.85s;
    left: 25%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow16 {
    -webkit-animation: letitsnow 13s infinite linear 20.75s;
    -moz-animation: letitsnow 13s infinite linear 20.75s;
    -o-animation: letitsnow 13s infinite linear 20.75s;
    animation: letitsnow 13s infinite linear 20.75s;
    left: 17%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow17 {
    -webkit-animation: letitsnow 16s infinite linear 14s;
    -moz-animation: letitsnow 16s infinite linear 14s;
    -o-animation: letitsnow 16s infinite linear 14s;
    animation: letitsnow 16s infinite linear 14s;
    left: 92%;
    height: 4px;
    width: 4px;
  }

  /* line 868, style.scss */
  #snow18 {
    -webkit-animation: letitsnow 11s infinite linear 11.75s;
    -moz-animation: letitsnow 11s infinite linear 11.75s;
    -o-animation: letitsnow 11s infinite linear 11.75s;
    animation: letitsnow 11s infinite linear 11.75s;
    left: 39%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow19 {
    -webkit-animation: letitsnow 12s infinite linear 1.95s;
    -moz-animation: letitsnow 12s infinite linear 1.95s;
    -o-animation: letitsnow 12s infinite linear 1.95s;
    animation: letitsnow 12s infinite linear 1.95s;
    left: 79%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow20 {
    -webkit-animation: letitsnow 17s infinite linear 10.75s;
    -moz-animation: letitsnow 17s infinite linear 10.75s;
    -o-animation: letitsnow 17s infinite linear 10.75s;
    animation: letitsnow 17s infinite linear 10.75s;
    left: 93%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow21 {
    -webkit-animation: letitsnow 13s infinite linear 14.95s;
    -moz-animation: letitsnow 13s infinite linear 14.95s;
    -o-animation: letitsnow 13s infinite linear 14.95s;
    animation: letitsnow 13s infinite linear 14.95s;
    left: 71%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow22 {
    -webkit-animation: letitsnow 16s infinite linear 2.55s;
    -moz-animation: letitsnow 16s infinite linear 2.55s;
    -o-animation: letitsnow 16s infinite linear 2.55s;
    animation: letitsnow 16s infinite linear 2.55s;
    left: 53%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow23 {
    -webkit-animation: letitsnow 18s infinite linear 18.1s;
    -moz-animation: letitsnow 18s infinite linear 18.1s;
    -o-animation: letitsnow 18s infinite linear 18.1s;
    animation: letitsnow 18s infinite linear 18.1s;
    left: 44%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow24 {
    -webkit-animation: letitsnow 13s infinite linear 1.5s;
    -moz-animation: letitsnow 13s infinite linear 1.5s;
    -o-animation: letitsnow 13s infinite linear 1.5s;
    animation: letitsnow 13s infinite linear 1.5s;
    left: 32%;
    height: 6px;
    width: 6px;
  }

  /* line 868, style.scss */
  #snow25 {
    -webkit-animation: letitsnow 19s infinite linear 11.8s;
    -moz-animation: letitsnow 19s infinite linear 11.8s;
    -o-animation: letitsnow 19s infinite linear 11.8s;
    animation: letitsnow 19s infinite linear 11.8s;
    left: 73%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow26 {
    -webkit-animation: letitsnow 17s infinite linear 8.35s;
    -moz-animation: letitsnow 17s infinite linear 8.35s;
    -o-animation: letitsnow 17s infinite linear 8.35s;
    animation: letitsnow 17s infinite linear 8.35s;
    left: 74%;
    height: 2px;
    width: 2px;
  }

  /* line 868, style.scss */
  #snow27 {
    -webkit-animation: letitsnow 16s infinite linear 5.2s;
    -moz-animation: letitsnow 16s infinite linear 5.2s;
    -o-animation: letitsnow 16s infinite linear 5.2s;
    animation: letitsnow 16s infinite linear 5.2s;
    left: 29%;
    height: 3px;
    width: 3px;
  }

  /* line 868, style.scss */
  #snow28 {
    -webkit-animation: letitsnow 13s infinite linear 12.6s;
    -moz-animation: letitsnow 13s infinite linear 12.6s;
    -o-animation: letitsnow 13s infinite linear 12.6s;
    animation: letitsnow 13s infinite linear 12.6s;
    left: 24%;
    height: 5px;
    width: 5px;
  }

  /* line 868, style.scss */
  #snow29 {
    -webkit-animation: letitsnow 18s infinite linear 13.25s;
    -moz-animation: letitsnow 18s infinite linear 13.25s;
    -o-animation: letitsnow 18s infinite linear 13.25s;
    animation: letitsnow 18s infinite linear 13.25s;
    left: 13%;
    height: 4px;
    width: 4px;
  }
}
@-webkit-keyframes shiftcover {
  /* line 878, style.scss */
  0% {
    background-position: 50% 10%;
  }

  /* line 883, style.scss */
  100% {
    background-position: 50% 90%;
  }
}

@-moz-keyframes shiftcover {
  /* line 878, style.scss */
  0% {
    background-position: 50% 10%;
  }

  /* line 883, style.scss */
  100% {
    background-position: 50% 90%;
  }
}

@-o-keyframes shiftcover {
  /* line 878, style.scss */
  0% {
    background-position: 50% 10%;
  }

  /* line 883, style.scss */
  100% {
    background-position: 50% 90%;
  }
}

@keyframes shiftcover {
  /* line 878, style.scss */
  0% {
    background-position: 50% 10%;
  }

  /* line 883, style.scss */
  100% {
    background-position: 50% 90%;
  }
}
