body {
  padding: 35px 25px 0 25px;
  font: 14px Microsoft YaHei, Helvetica, Arial, sans-serif;
    background: rgba(124, 204, 229, 1);
}


.padding-bottom-70{
    padding-bottom: 70px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-120{
    padding-left: 120px;
}

.padding-top-10 {
     padding-top: 10px;
 }

.margin-top-10 {
    margin-top: 10px;
}

.no-href-link{
    cursor: pointer;
}

.red-bg {
    background-color: rgba(217, 83, 79, 1);
}

.blue-bg {
    background-color: blue;
}

.yellow-bg{
    background-color: #ffff00;
    background-origin:content-box;
}



.square-100{
    width:100px;
    height: 100px;

}

.height-100{
    height: 100px;
}



.white-border-5{
    border: 5px solid white;
}


.light-gray-bg{
    background-color: #adadad;
}

.dark-gray-bg{
    background-color:  rgba(80, 80, 80, 0.5);
}



.blue-bg{
    background-color:  rgba(124, 204, 229, 1);
}

.diamond.square {
    width: 100px;
    height: 100px;
    margin: 25px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}

.diamond.pic {
    background: url( 'http://lain.bgm.tv/pic/user/l/000/00/28/2813.jpg?r=1377940764' );
    width: 75px;
    height: 75px;
    margin: -25px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.div-circle{
    border-radius: 50%;

}

.div-circle.responsive{
    padding-bottom: 95%;
    width: 100%;
}

.card {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(80,80,80,0.1) 2px 4px;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
}


.tag{
    color: rgba(80,80,80,0.7);
    padding: 3px 5px 3px 5px;
    font-size: smaller;
}

.tag .glyphicon {
    padding-right: 17px;
}


.tooltips{
    display: inline;
    position: relative;
}

.tooltips:after{
    background: #428bca;
    border-radius: 5px;
    bottom: 46px;
    color: #fff;
    content: attr(title);
    left: -60%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;

}

.tooltips:before{
    border: solid;
    border-color: #428bca transparent;
    border-width: 15px 15px 0 15px;
    bottom: 40px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
