/* line 24, style.scss */
body {
  padding: 35px 25px 100px 25px;
  font: 14px;
  background: #7ccce5;
  -webkit-font-smoothing: antialiased;
}

/* line 33, style.scss */
h1, h2, h3, h4, h5, button, a, blockquote, p {
  font-family: 'Lato', Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 38, style.scss */
a, span, div, button {
  outline: none !important;
}

/* line 44, style.scss */
.padding-bottom-70 {
  padding-bottom: 70px;
}

/* line 48, style.scss */
.padding-right-0 {
  padding-right: 0px;
}

/* line 52, style.scss */
.padding-left-0 {
  padding-left: 0;
}

/* line 56, style.scss */
.padding-left-120 {
  padding-left: 120px;
}

/* line 60, style.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 64, style.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 68, style.scss */
.no-href-link {
  cursor: pointer;
}

/* line 72, style.scss */
.red-bg {
  background-color: #d9534f;
}

/* line 76, style.scss */
.list-item-info {
  padding-left: 110px;
}

/* line 80, style.scss */
.subject-cover {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 86, style.scss */
.list-item-thumb, .avatar {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: none;
}

/* line 93, style.scss */
.square-100 {
  width: 100px;
  height: 100px;
  position: relative;
}

/* line 99, style.scss */
.square-150 {
  width: 150px;
  height: 150px;
  position: relative;
}

/* line 105, style.scss */
.checked {
  display: none;
}

/* line 109, style.scss */
.white-mask .checked, .square-100:hover .checked {
  display: block;
  color: white;
  position: absolute;
  left: 40%;
  font-size: 21px;
  line-height: 100px;
}

/* line 118, style.scss */
.white-mask, .square-100:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 122, style.scss */
.blue-mask {
  background-color: rgba(124, 204, 229, 0.5);
}

/* line 126, style.scss */
.height-100 {
  height: 100px;
}

/* line 130, style.scss */
.white-border-5 {
  border: 5px solid white;
}

/* line 134, style.scss */
.cyan-bg {
  background-color: #62afb5;
}

/* line 138, style.scss */
.pink-bg {
  background-color: #f96790;
}

/* line 142, style.scss */
.blue-bg {
  background-color: #7ccce5;
}

/* line 147, style.scss */
.diamond.square {
  width: 100px;
  height: 100px;
  margin: 25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
}
/* line 156, style.scss */
.diamond.pic {
  background: url("http://lain.bgm.tv/pic/user/l/000/00/28/2813.jpg?r=1377940764");
  width: 75px;
  height: 75px;
  margin: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 167, style.scss */
.div-circle {
  border-radius: 50%;
}
/* line 169, style.scss */
.div-circle.responsive {
  padding-bottom: 95%;
  width: 100%;
}

/* line 175, style.scss */
.card {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(80, 80, 80, 0.1) 1px 2px;
}
/* line 180, style.scss */
.card.selected {
  box-shadow: rgba(217, 83, 79, 0.8) 1px 2px;
}
/* line 183, style.scss */
.card .inner {
  position: relative;
}

/* line 188, style.scss */
.tag {
  color: rgba(80, 80, 80, 0.7);
  padding: 3px 5px 3px 5px;
  font-size: smaller;
  float: left;
}
/* line 193, style.scss */
.tag .glyphicon {
  padding-right: 17px;
}

/* line 198, style.scss */
.super-nav-bar-bottom {
  border-top: 1px solid #ac2925;
}

/* line 202, style.scss */
.tooltips {
  display: inline;
  position: relative;
  opacity: 1;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
  -webkit-transition: opacity 800ms;
  /* Safari */
  transition: opacity 800ms;
}
/* line 211, style.scss */
.tooltips .inner {
  background: #428bca;
  bottom: 55px;
  color: #fff;
  min-width: 300px;
  left: -100px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  max-width: 300px;
}
/* line 222, style.scss */
.tooltips:before {
  border: solid;
  border-color: #428bca transparent;
  border-width: 19px 1px 0 13px;
  bottom: 40px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

/* line 234, style.scss */
.left-triangle {
  -webkit-transition: border-right-width 200ms;
  -moz-transition: border-right-width 200ms;
  -o-transition: border-right-width 200ms;
  transition: border-right-width 200ms;
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: 100px solid #7ccce5;
  border-top: 60px solid transparent;
  border-bottom: 25px solid transparent;
  position: relative;
}
/* line 244, style.scss */
.left-triangle:hover {
  border-right-width: 130px;
}
/* line 247, style.scss */
.left-triangle.cyan-bg {
  background-color: transparent;
  border-right-color: #62afb5;
}
/* line 251, style.scss */
.left-triangle.red-bg {
  background-color: transparent;
  border-right-color: #d9534f;
}
/* line 255, style.scss */
.left-triangle.blue-bg {
  border-right-color: #428bca;
  background-color: transparent;
}
/* line 259, style.scss */
.left-triangle.pink-bg {
  border-right-color: #f96790;
  background-color: transparent;
}

/* line 265, style.scss */
.side_menu_btn {
  letter-spacing: 2px;
  position: absolute;
  color: white;
  transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -webkit-transform: rotate(-14deg);
  left: 40px;
  bottom: -9px;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

/* line 278, style.scss */
.navbar-menu-btn {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: x-large;
  display: inline-block;
  height: 100%;
  width: 100px !important;
}
/* line 289, style.scss */
.navbar-menu-btn:hover, .navbar-menu-btn:focus {
  color: white;
}

/* line 294, style.scss */
.icon-flipped {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 297, style.scss */
.icon-flipped.icon-rotated-180-right {
  -webkit-transform: rotate(180deg) scaleX(-1);
  -moz-transform: rotate(180deg) scaleX(-1);
  -ms-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

/* line 302, style.scss */
.side-menu {
  -webkit-transition: margin-right 200ms;
  -moz-transition: margin-right 200ms;
  -o-transition: margin-right 200ms;
  transition: margin-right 200ms;
  width: 120px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 15px;
  margin-right: -100px;
}
/* line 312, style.scss */
.side-menu:hover, .side-menu.show {
  margin-right: 0;
}

/* line 317, style.scss */
.progress-total {
  width: 100%;
}

/* line 321, style.scss */
.progress-current {
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
  height: 5px;
}

/* line 327, style.scss */
.navbar-bottom-avatar {
  width: 100px;
}

/* line 331, style.scss */
.absolute-center-block {
  /* must set width */
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 339, style.scss */
.large-quote {
  color: white;
}

/* line 343, style.scss */
.navbar-fixed-bottom .large-quote {
  padding: 20px;
}

/* line 347, style.scss */
.pink-border-top {
  border-top: 3px solid #f96790;
}

/* line 351, style.scss */
.cyan-border-top {
  border-top: 3px solid #62afb5;
}

/* line 355, style.scss */
.orange-border-top {
  border-top: 3px solid #F79B57;
}

/* line 359, style.scss */
.red-border-top {
  border-top: 3px solid #d9534f;
}

/* line 363, style.scss */
.pink-border-left {
  border-left: 3px solid #f96790;
}

/* line 367, style.scss */
.cyan-border-left {
  border-left: 3px solid #62afb5;
}

/* line 371, style.scss */
.orange-border-left {
  border-left: 3px solid #F79B57;
}

/* line 375, style.scss */
.red-border-left {
  border-left: 3px solid #d9534f;
}

/* line 379, style.scss */
.white-text {
  color: white;
}

/* line 383, style.scss */
.faded {
  opacity: 0.5;
}
/* line 384, style.scss */
.faded:hover {
  opacity: 1;
}

/* line 390, style.scss */
.search-icon {
  width: 14px !important;
  line-height: inherit;
  margin: auto;
}

/* line 398, style.scss */
.super-nav-bar-bottom .action_btns .btn {
  border-right: 1px solid rgba(80, 80, 80, 0.7);
  height: 89px;
  text-shadow: 1px 1px rgba(80, 80, 80, 0.8);
}
/* line 402, style.scss */
.super-nav-bar-bottom .action_btns .btn:last-child {
  border-right: 0;
}
/* line 405, style.scss */
.super-nav-bar-bottom .action_btns .btn:focus {
  color: white;
}
/* line 408, style.scss */
.super-nav-bar-bottom .action_btns .btn:hover {
  color: #d9534f;
  background-color: white;
  margin-top: -5px;
  box-shadow: 0px 2px rgba(80, 80, 80, 0.8);
  border-right: 0;
}

/* line 417, style.scss */
.switch-btn {
  cursor: pointer;
  line-height: 40px;
}
/* line 420, style.scss */
.switch-btn:hover, .switch-btn.active {
  color: #7ccce5;
}

/* line 426, style.scss */
blockquote {
  border-left: white 5px solid;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
/* line 431, style.scss */
blockquote p {
  font-size: 24px;
}

/* line 436, style.scss */
.subject-link-btn {
  height: 100px;
  /*color: $c-blue;*/
  color: rgba(80, 80, 80, 0.1);
}
/* line 440, style.scss */
.subject-link-btn:hover {
  color: rgba(80, 80, 80, 0.5);
}
/* line 443, style.scss */
.subject-link-btn .glyphicon {
  line-height: 100px;
}

/* line 448, style.scss */
.loading-bar {
  height: 35px;
  background-color: #7ccce5;
  background-image: url("/img/loading.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-animation: loading-animation 1s infinite steps(1);
  -moz-animation: loading-animation 1s infinite steps(1);
  -o-animation: loading-animation 1s infinite steps(1);
  animation: loading-animation 1s infinite steps(1);
  width: 100%;
}

/* line 460, style.scss */
.visually-hidden {
  opacity: 0;
}

/* line 465, style.scss */
.subject-title:hover h1, .subject-title:hover h4 {
  color: #7ccce5;
}

/* line 470, style.scss */
a:link.search-title {
  color: #505050;
}
/* line 474, style.scss */
a.search-title {
  text-decoration: none;
  color: #505050;
}
/* line 477, style.scss */
a.search-title h4, a.search-title h6 {
  display: inline-block;
}
/* line 480, style.scss */
a.search-title h6 {
  line-height: 19px;
  padding-left: 20px;
  color: rgba(80, 80, 80, 0.3);
}
/* line 485, style.scss */
a.search-title:hover {
  color: #7ccce5;
}

/* line 492, style.scss */
.aired {
  border-left: #62afb5 solid 3px;
}

/* line 498, style.scss */
.onair {
  border-left: #d9534f solid 3px;
}

/* line 502, style.scss */
.watched {
  border-left: #428bca solid 3px;
}

/* adpoted from http://codepen.io/geedmo/pen/InFfd */
/* line 518, style.scss */
.progress-0 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(90deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-10 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(126deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-20 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(162deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-30 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(198deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-40 {
  background-image: linear-gradient(90deg, #d1edf6 50%, transparent 50%, transparent), linear-gradient(234deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-50 {
  background-image: linear-gradient(-90deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-60 {
  background-image: linear-gradient(-54deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-70 {
  background-image: linear-gradient(-18deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-80 {
  background-image: linear-gradient(18deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-90 {
  background-image: linear-gradient(54deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/* line 518, style.scss */
.progress-100 {
  background-image: linear-gradient(90deg, #7ccce5 50%, transparent 50%, transparent), linear-gradient(270deg, #7ccce5 50%, #d1edf6 50%, #d1edf6);
}

/*logo for 404 page*/
/* line 538, style.scss */
.logospin {
  margin: auto;
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
}
/* line 545, style.scss */
.logospin .segment {
  position: absolute;
  top: 0;
  left: 50px;
  width: 0;
  height: 0;
  -webkit-animation: logospin 3s infinite ease-out;
  -moz-animation: logospin 3s infinite ease-out;
  animation: logospin 3s infinite ease-out;
}
/* line 554, style.scss */
.logospin .segment:nth-of-type(1) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #62afb5 transparent transparent transparent;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 567, style.scss */
.logospin .segment:nth-of-type(2) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #428bca transparent transparent transparent;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 580, style.scss */
.logospin .segment:nth-of-type(3) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #f96790 transparent transparent transparent;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 593, style.scss */
.logospin .segment:nth-of-type(4) {
  border-width: 100px 25px 50px 33.33333px;
  border-style: solid;
  border-color: #d9534f transparent transparent transparent;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

/*xs screen only css*/
/*push if it's tablet or phone*/
@media (max-width: 991px) {
  /* line 618, style.scss */
  .push-aside {
    margin-left: -100px;
    margin-right: 100px;
  }

  /* line 622, style.scss */
  .mobile-btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
  }

  /*no hover quick fly out side menu for mobile devices*/
  /* line 628, style.scss */
  .side-menu {
    width: 100px;
  }
}
